body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
  }

  #p1::selection,#h21::selection,.ptext::selection{
    background-color: mistyrose;
  }

  #p2::selection,#p3::selection,.hst::selection,h3::selection,.border::selection,a::selection{
    background-color: mistyrose;
    color: #666;
  }

  body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: mistyrose;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: lightblue; 
    opacity: 0.70;   /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }
  
  .pimg1, .pimg2, .pimg3,.pimg4{
    position:relative;
    opacity:0.50;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
  }
  
  .pimg1{
    background-image:url('https://res.cloudinary.com/vitrendz-chennai/image/upload/v1629374004/TSF/child1_sivlsv.jpg');
    min-height:85%;
    background-size: cover;
  }
  
  .pimg2{
    background-image:url('https://res.cloudinary.com/vitrendz-chennai/image/upload/v1629374006/TSF/donate2_rhs4og.jpg');
    min-height:400px;
  }
  
  .pimg3{
    background-image:url('https://res.cloudinary.com/vitrendz-chennai/image/upload/v1629374025/TSF/donate3_vpuqhj.jpg');
    min-height:400px;
  }

  .pimg4{
    background-image:url('https://res.cloudinary.com/vitrendz-chennai/image/upload/v1629374004/TSF/donate1_bq3hgt.jpg');
    min-height:500px;
  }
  
  #connect{
    position: absolute;
    right: -30%;
    top: 20%;
  }

  .footer-copyright{
    position: absolute;
    top: 85%;
    right: -5%;
  }

  .fb-ic{
    position: absolute;
    top: 35%;
    right: 2%;
    color: #3b5998;
  }

  .li-ic{
    position: absolute;
    top: 35%;
    right: -13%;
    color: #0e76a8;
  }

  .tw-ic{
    position: absolute;
    top: 35%;
    right: -28%;
    color: #00acee;
  }

  .in-ic{
    position: absolute;
    top: 35%;
    right: -42%;
    color: #8a3ab9;
  }

  .section{
    text-align:center;
    padding:50px 80px;
  }
  
  .section-light{
    background-color:#f4f4f4;
    color:#666;
  }
  
  .section-dark{
    background-color:#282e34;
    color:#ddd;
  }

  .col-md-6{
    top: -70%;
  }
  
  .ptext{
    position:absolute;
    top:20%;
    left: -25%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:20px;
    letter-spacing:8px;
    text-transform:uppercase;
  }
  
  .p1text::selection{
    background-color: mistyrose;
    color: red;
  }

  .p1text{
    padding: 20px;  
    position: absolute;
    left: 35.4%;
    font-family: LimeLight;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 60px;
    background-image: linear-gradient(70deg, lightsalmon, crimson);
    background-size: 100%;
    background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  }

  #text1{
    position: absolute;
    top: 130px;
  }

  .ptext {
    color: red;
    padding:20px;
  }
  
  .ptext .border.trans{
    background-color:transparent;
  }
  
  @media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
      background-attachment:scroll;
    }
  }

  .container-fluid{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
  }
  

.btn-outline-danger{
  position: absolute;
  top: 390%;
  right: 46%;
}

.btn-danger{
  position: absolute;
  top: 390%;
  right: 55%;
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
      background: #1C2331!important;
  }
}
.view,body,html{height:100%}.navbar{background-color:rgba(0,0,0,.2)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}
